.single-post-container {
    width: 500px;
    padding: 15px;
    border: 2px solid gray;
}

.single-post-block {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.single-post-block > h3::first-letter,
.single-post-block > p::first-letter,
.comment > h4::first-letter,
.comment > p::first-letter {
    text-transform: uppercase;
}

.comments-block {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 7px;
    border: 1px solid gray;
}

#comments-title {
    margin-bottom: 10px;
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
